<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6b458ec7-e05f-4c86-8fef-21146c42f334" name="PM Document APIs" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" definitionUrl="file:/C:/cm32/JDevv12/Repositories/TestReadyAPIRepo/YAML/CMiC-PM-DOC-REST-API-1-resolved.yaml" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:description># PM-DOC-REST-API
API documentation for **PM Documents** related screens provided by CMiC

_Note: These APIs can only be accessed if already a customer of CMiC._</con:description>
  <con:settings>
    <con:setting id="6b458ec7-e05f-4c86-8fef-21146c42f334fileName">PM-Document-APIs</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="file:/C:/cm32/JDevv12/Repositories/TestReadyAPIRepo/YAML/CMiC-PM-DOC-REST-API-1-resolved.yaml">
    <con:part>
      <con:url>file:/C:/cm32/JDevv12/Repositories/TestReadyAPIRepo/YAML/CMiC-PM-DOC-REST-API-1-resolved.yaml</con:url>
      <con:content>---
openapi: 3.0.0
info:
  title: PM Document APIs
  description: |
    # PM-DOC-REST-API
    API documentation for **PM Documents** related screens provided by CMiC

    _Note: These APIs can only be accessed if already a customer of CMiC._
  contact:
    email: roshan.suntharan@cmic.ca
  version: "1"
servers:
- url: https://mobtest.cmiccloudr12.com/cmictestrti
security:
- BasicAuth: []
tags:
- name: downloadDoc
  description: Downloading Documents
- name: uploadDoc
  description: Uploading Documents
paths:
  /pm-doc-rest-ap/jersey/v1/downloadDoc/{Vuuid}:
    get:
      tags:
      - downloadDoc
      summary: Download the bytes of a specific PM attachment/document
      description: ""
      parameters:
      - name: Vuuid
        in: path
        description: UUID of the document to be downloaded
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "If the document exists, its bytes will be successfully retrieved in raw form within the response."
        "400":
          description: "400"
          content:
            application/json:
              examples:
                Result:
                  value:
                    exceptionName: CMGeneralException
                    code: WSD-0000
                    cmicMessage: Exception encountered during request processing.
                    javaMessage: ""
                    javaExceptionClassName: CMGeneralException
                    longDescription: Document Revision Not Found
                    stackTraceElement:
                    - "...": '...'
  /pm-doc-rest-api/jersey/v1/uploadDoc:
    post:
      tags:
      - uploadDoc
      summary: Create a Revision of PM Attachment
      description: ""
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/v1_uploadDoc_body'
            examples:
              Request Example:
                value:
                  PmdId: ""
                  Vuuid: BAEC26FFFF155818E053508010ACC325
                  PmdTitle: OguzRoverTest3-1
                  PmdDesc1: OguzRoverTest3-1
                  PmdDesc2: OguzRoverTest3-1
                  PmdProjUuid: 9D73CB3DCDCDBF19E0536900A8C05238
                  PmdTypeCode: DRAWMGMT
                  PmdrComment: 'RevisionNumber 1 '
                  PmdrRcvdDate: 2020-11-02
                  PmdrRevDate: 2021-12-09
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Result:
                  value: "{}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Result:
                  value: "{}"
  /pm-doc-rest-api/jersey/v1/uploadDoc/{Vuuid}:
    post:
      tags:
      - uploadDoc
      summary: Update an existing PM Attachment Revision
      description: ""
      parameters:
      - name: Vuuid
        in: path
        description: UUID of document to update
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/uploadDoc_Vuuid_body'
            examples:
              Request Example:
                value:
                  PmdId: ""
                  Vuuid: BAEC26FFFF155818E053508010ACC325
                  PmdTitle: OguzRoverTest3-1
                  PmdDesc1: OguzRoverTest3-1
                  PmdDesc2: OguzRoverTest3-1
                  PmdProjUuid: 9D73CB3DCDCDBF19E0536900A8C05238
                  PmdTypeCode: DRAWMGMT
                  PmdrComment: 'RevisionNumber 1 '
                  PmdrRcvdDate: 2020-11-02
                  PmdrRevDate: 2021-12-09
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Result:
                  value: "{}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Result:
                  value: "{}"
    delete:
      tags:
      - uploadDoc
      summary: Delete an Attachment
      description: ""
      parameters:
      - name: Vuuid
        in: path
        description: Unique ID of Document
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Result:
                  value: "{}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Result:
                  value: "{}"
components:
  schemas:
    v1_uploadDoc_body:
      type: object
      properties:
        fileDetails:
          type: string
          description: |
            ```
            {
              PmdProjUuid: Project UUID,
              PmdTypeCode: Document Type (i.e., RFI, DRAWMGMT, etc.),
              PmdId: document name,
              PmdDesc1: test description 1,
              PmdDesc2: test description 2,
              PmdrComment: document comments,
              PmdrRcvdDate: Received date (YYYY-MM-dd),
              PmdrRevDate: Revised Date (YYYY-MM-dd)
            }
            ```
          format: json
        document-content-file:
          type: string
          description: File to be uploaded
          format: binary
    uploadDoc_Vuuid_body:
      type: object
      properties:
        fileDetails:
          type: string
          description: |
            ```
            {
              PmdTitle: Revised Document Title
              PmdStatus: Document Status
              PmdrComment: Document Revision Comment
              PmdrRevDate: Document Revision Date (YYYY-MM-dd)
              PmdrRcvdDate: Document Received Date (YYYY-MM-dd)
              PmdrVuuid: Document Revision UUID
            }
            ```
          format: json
        document-content-file:
          type: string
          description: File to be uploaded
          format: binary
  securitySchemes:
    BasicAuth:
      type: http
      description: Basic --> User + Password
      scheme: basic</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>https://mobtest.cmiccloudr12.com/cmictestrti</con:endpoint>
  </con:endpoints>
</con:interface>
