<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1cca31c7-41b5-48ec-b9bb-3c278e9e65fd" name="AR-REST-API Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b9a38968-e41c-40e9-9b25-2ad492279deefileName">AR-REST-API-Test-Suite</con:setting>
    <con:setting id="a39d52a1-8434-4e0d-8c30-ba617b54de16fileName">AR-REST-API-Test-Suite</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Users\Public\Desktop\CMiC\ReadyAPI\ReadyAPI reports\UPG PROD 2022-09-20</con:setting>
    <con:setting id="1cca31c7-41b5-48ec-b9bb-3c278e9e65fdfileName">AR-REST-API-Test-Suite</con:setting>
  </con:settings>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="a96c0cbb-7368-4fbb-91cd-1e585b2cb0d4">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d3771eee-0e21-4af1-8002-7042f658988f">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="94944b19-d3a9-4a03-aa6e-a6974b62f8ec">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ff030b5a-f2fe-4444-b1d7-d7f8d358d0f4">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f45da016-e89f-4ef5-a164-f6dac2122c4b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="279d2e39-5a32-454b-95f0-b9aa8c9cde42">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="2d1ef8d3-13f7-41bc-b36d-a0472a3c0009">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="be05f277-f412-40b8-9fac-98c834ba0807">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
